.filter-component{
	ul.list-component{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
		max-height: 20vh;
		overflow-y: auto;
		li.list-item{
			margin: 0;
			padding: 10px;
			width: 20%;
		}
	}
}